h1{
    background-color: red;
    color:black;
}
button{
    background-color: green;
    color:aqua;
}
#ram{
    gap:16px;
    background-color: green;
    color: rgb(21, 255, 0);
    text-decoration: none;

}
a:hover{
    background-color: red;
    transition: .4s;
    color:goldenrod
}